/home/esy9d7l1/compliance/env/*
env/
__pycache__/
dist/
build/
/home/esy9d7l1/Compliance/.gitconfig
/home/esy9d7l1/Compliance/*.py
/home/esy9d7l1/Compliance/*.spec
GUI.code-workspace
nohup.err
nohup.out
*.txt
*.log
